button{
    position: relative;
    border-radius: 5px;
    width: 165px;
    height: 55px;
    font-size: 20px;
    margin: 30px 0px;
    transition: 0.5s;
    border: solid 1px #FFDA1F; 
    color: #FFF;
    background-color: #FFDA1F;
    z-index: 10;
}

button:hover{
    scale: 1.05; 
    box-shadow: 1px 1px 9px 1px rgba(255,218,31,1);
    transition-delay: 0.3s;
}

button::after{
    position: absolute;
    top: -15%;
    left: 15%;
    content: " ";
    width: 164px;
    height: 54px;
    background-color: #ffda1f00;
    border: solid 1px #FFDA1F;  
    
    transition: 0.5s ease-in-out;
}

button:hover::after{
    top: 0%;
    left: 0%;
    border-radius: 5px;
}
