.rodape {
    color: #000;
    width: 100%;

    background-color: #F5C000;
    font-weight: lighter;
    padding: 15px 1px;
}
.rodape-content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px 0px 20px 0;
}
.rodape-content nav{
    margin: 0px 30px;
    padding: 10px 20px;
}
.rodape-content p{
    font-weight: 750;
    font-size: 25px;
}
.rodape-content a{
    text-decoration: none;
}

.rodape-content li{
    margin: 10px 0px;
}

.rodape img{
    margin: 0px 10px;
    max-width: 100px;
    cursor: pointer;
}

.rodape-copy{
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    background-color: #F5C000;
}
.rodape-lista a{
        position: relative;
        text-decoration: none;
        transition: 0.2s;
        /* margin: 0px 5px 0px 0px; */
}
.rodape-lista a::after{
    content: " ";
    width: 100%;
    height: 4px;
    background-color: #000000;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 20px;
    transition: transform 0.5s ease-in-out;

    transform-origin: right;
    transform: scaleX(0);
}

.rodape-copy a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}