*{
  font-family: sans-serif;
  line-height: 1.5; 
  font-weight: 400;
}

h1{
  font-weight: bold;
  font-size: 30px;
}
main{
  width: 100%;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 7px;
}
body::-webkit-scrollbar-track{
  background-color: #FFFFFF00;
  border-radius: 30px;
}
body::-webkit-scrollbar-thumb {
  background-color: #FFDA1F;
  border-radius: 30px;
}

section{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 10px;
  background-size: cover;
  background-repeat: no-repeat;

  background-color: #FDFDFD;
}
section img{
  margin: 0px 10px;
  max-width: 400px;
}

.texto{
  margin: 0px 10px;
  width: 40%;
}