.home-download{
    color: #fff;
    background-image: url("../../assets/fundoAzul.jpg");
    text-align: center;
}

.home-depoimentos{
    justify-content: space-around;
    background-color: #00296B;
}

.home-depoimentos-destaque{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45vw;
    height: 80vh;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    background-color: #fff;
}

.texto-depoimento{
    color: #fff;
    position: relative;
}

.home-quemSomos-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}